{% for publication in site.data.posters %}
<div class="publication">
    <h4>
        {{publication.title}}
        {% if publication.pdf %}
            {% if publication.pdf_local %}
                [<a href="{{site.url}}/assets/pdfs/{{publication.pdf}}">pdf</a>]
            {% else %}
                [<a href="{{ publication.pdf }}">pdf</a>]
            {% endif %}    
        {% endif %}
        {% if publication.ppt %}
            {% if publication.ppt_local %}
                [<a href="{{site.url}}/assets/pdfs/{{publication.ppt}}">ppt</a>]
            {% else %}
                [<a href="{{ publication.ppt }}">ppt</a>]
            {% endif %}    
        {% endif %}
    </h4>
    <div class="author">{{publication.author}}</div>
    <div class="detail">
        {{publication.detail}} 
        {% if publication.highlight %}
        <span class="highlight">{{publication.highlight}}</span> 
        {% endif %}
    </div>
</div>
{% endfor %}