<div class="publication">
    <h3>Pagoda: A Runtime System to Maximize Utilization in Data Parallel Tasks with Limited Parallelism</h3>
    <div class="author">Tsung Tai Yeh, Amit Sabne, Putt Sakdhnagool, Rudolf Eigenmann, and Timothy Rogers</div>
    <div class="detail">International Conference on Parallel Architectures and Compilation (PACT), 2016</div>
</div>

<div class="publication">
    <h3>Hydra:Extending Shared Address Programming for Accelerator Clusters</h3>
    <div class="author">Putt Sakdhnagool, Amit Sabne, and Rudolf Eigenmann</div>
    <div class="detail">International Workshop on Languages and Compilers for Parallel Computing (LCPC), 2015</div>
</div>
